p {font-size: 25px;
background-color: antiquewhite;
font-family: "josefin Sans";}
h1 {font-size: 40px;
font-family: "Josefin Sans";}
li {font-size: 20px;
font-family: "Dancing Script", cursive;}
h2 {background-color: rgb(182, 172, 193);
font-family: "Josefin Sans", bold;}
h1 {background-color: black;
color: white;}
.spacer {height: 50px;}
.pink-element {background-color: rgb(224, 200, 204);}
.red-up {background-color: rgb(185, 207, 200);}
body {background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkohWkHzEh6dZhBXA140bKewGwXaL56OeB2A&s");
background: cover;
background-size: cover;}
