body {
    background-color: rgb(171, 207, 234);
    align-items: center !important;
    justify-items: center; !important;
    font-family: "Josefin Sans";
}

h1 {
    background-color: black;
    color: white;
    white-space: nowrap;
}

h2 {
    background-color: rgb(189, 90, 189);
   margin: 100px 0 50px 0;
    white-space: nowrap;

}
p {
     display: block;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 100% 0 10% o;
    text-align: justify;
    text-justify: center;
    text-indent: 10%;
    text-size-adjust: auto;
    word-spacing: 10%;
    line-height: 25px;

}

#text-bold {
    background-color: aquamarine;
    align-items: center !important;
    justify-items: center;
    white-space: nowrap;
    display: inline;
}


ol li {
    font-family: "Dancing Script";
    font-size: 20px;
   font-weight: bolder;
   background-color: rgb(229, 157, 169);
   margin: 0 0 5px 0 ;
}
ol {
    margin: 0 0 40px 0;
}
img {
    border: solid 10px rgb(205, 6, 99);
    border-radius: 60px;
    max-width: 60%;
    max-height: 20%;

}

img {
     justify-content: center;
    align-items: center;
}

.img-container {
    justify-content: center;
    align-items: center;
    max-width: 60%;
    max-height: 20%;
}

.video-style {
    justify-items: center;
    align-items: center;
    max-width: 60%;
    max-height: 20%;
    display: block;
}

button {
    background-color: rgb(202, 113, 128);
    margin: 20px 0 10px 0;
    padding: 5px 10px 5px 10px;
    border: dashed 3px ;
    border-radius: 30px;

}
