body {
    background-color: rgb(171, 207, 234);
    align-items: center;
    justify-items: center;
    font-family: "Josefin Sans";
}

h1 {
    background-color: black;
    color: white;
    white-space: nowrap;
    font-size: 300%;
}

h2 {
    background-color: rgb(189, 90, 189);
    margin: 100px 0 50px 0;
    white-space: nowrap;

}
h3 {
    white-space: nowrap;
    align-items: center;
    justify-items: center;
    font-size: x-large;
}
p {
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 100% 0 10% o;
    text-align: justify;
    text-justify: center;
    text-indent: 10%;
    text-size-adjust: auto;
    word-spacing: 10%;
    line-height: 25px;

}

#text-bold {
    background-color: aquamarine;
    padding: 0 5% 0 0;
    white-space: nowrap;
    font-size: 150%;
    font: bolder;
}



ol li {
   font-family: "Dancing Script";
   font-size: 20px;
   font-weight: bolder;
   background-color: rgb(229, 157, 169);
   margin: 0 0 5px 0 ;
   min-width: 100%;
   white-space: nowrap;
   padding: 0 10% 0 0;
}
ol {
    margin: 0 0 40px 0;
    max-width: 300px;
    padding-bottom: 10%;
}

img {
    max-height: 400px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    border: ;
}

video {
    height: 700px;
    max-height: 700px;
    margin: 0 auto;
}

.img-container, .video-style, iframe {
    align-items: center;
    justify-items: center;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
#iframe-video {
    height: 400px !important;
    width: 800px !important;
    padding-top: 15%;
    margin: 0 5% 0 5%;
}

button {
    background-color: rgb(202, 113, 128);
    margin: 20px 0 10px 0;
    padding: 5px 10px 5px 10px;
    border: dashed 3px ;
    border-radius: 30px;
    min-width: 60px;
    size: 100%;

}
